trains/src/main/resources/y-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            targetNamespace="http://com.yxl/schema"
            xmlns="http://com.yxl/schema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-4.2.xsd"></xsd:import>
    <!--在xml的xsi:schemaLocation中必须配置targetNamespace值以及targetNamespace/*.xsd值-->
    <xsd:element name="styles">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded"><!--此处限制style不是styles-->
                    <xsd:element name="style">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice minOccurs="0" maxOccurs="unbounded"><!--此处限制check不是style-->
                                    <xsd:element name="check">
                                        <xsd:complexType mixed="true">
                                            <xsd:choice minOccurs="0" maxOccurs="unbounded"></xsd:choice>
                                            <xsd:attribute name="pattern" type="xsd:string"></xsd:attribute>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:choice>
                            </xsd:sequence>
                            <xsd:attribute name="name"></xsd:attribute>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="id"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>